.bodyclass{
 background-image: url('../images/moon.jpg');
 width: 100px;
 height: 100px;
 background-size: cover;
 background-repeat: no-repeat;
 background-color: #cccccc;

}

.cosmoimg1{
	width: 350px;
	height: 350px;
	display: inline;
	position: absolute;
	left: 200px;
	top: 200px;
	transition: all 7s;
}

.cosmoimg1:hover {
	width: 70px;
	height: 70px;
	position:absolute;
	left: 30px;
	top: 30px;
}

.cosmoimg2{
	width: 300px;
	height: 300px;
	display: inline;
	position: absolute;
	left: 100px;
	top: 600px;
	scale: -1 1;
	animation: mymove2 14s infinite;

}

@keyframes mymove2{
	50% {transform: rotate(-45deg);}
}

.cosmoimg3{
	width: 300px;
	height: 300px;
	display: inline;
	position: absolute;
	left:1400px;
	top: 600px;
	animation: mymove2 14s infinite ;
}

.cosmoimg4{
	width: 100px;
	height: 100px;
	display: inline;
	position: relative;
	left: 300px;
	top: 800px;
	transition: all 3s linear 1s;
	animation: mymove 14s infinite;
}

@keyframes mymove{
	0% {left: 300px;}
	50% {left: 1400px;}
	100% {left: 300px;}

}

.cosmoimg5{
	width: 400px;
	height: 400px;
	display: inline;
	position: absolute;
	left: 600px;
	top: 150px;
	display: none;
	transition-delay: 6s;

}

/*
.cosmoimg4:hover {
	width: 400px;
	height: 400px;
	display: inline;
	position: absolute;
	left: 600px;
	top: 150px;
	animation: none;
}

.cosmoimg4:hover + .cosmoimg5{
	width: 400px;
	height: 400px;
	display: inline;
	position: absolute;
	left: 600px;
	top: 150px;
	transition-delay: 6s;
}
*/