.bodyclass{
 background-image: url('../images/moon.jpg');
 width: 100px;
 height: 100px;
 background-size: cover;
 background-repeat: no-repeat;
 background-color: #cccccc;

}

.cosmoimg1{
	width: 200px;
	height: 200px;
	display: inline;
}

.cosmoimg2{
	width: 200px;
	height: 200px;
	display: inline;
}

.cosmoimg3{
	width: 200px;
	height: 200px;
	display: inline;
}